/* Navigation */

.navbar {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: fixed;
	top: 0;
	z-index: 999;
}

.navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 50px;
}

#navbar__logo {
	background-color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2.5rem;
	font-family: 'Movement VN';
}

.navbar__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	text-align: center;
}

.navbar__item {
	height: 80px;
}

ul {
	list-style: none;
	/* background-color: #22438c; */
}

ul li {
	display: inline-block;
	position: relative;
}

ul li a {
	display: block;
	padding: 20px 25px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
}

ul.navbar__menu li.navbar__item ul.navbar__dropdown li {
	display: block;
}

ul li ul.navbar__dropdown {
	width: 100%;
	/* background: var(--secondary-color); */
	position: absolute;
	z-index: 999;
	display: none;
}

ul li a:hover {
	/* background: #112c66; */
	background: linear-gradient(145deg, #718d8c, #86a8a7);

}

ul li:hover ul.navbar__dropdown {
	display: block;
}

.navbar__links {
	color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
	/* transition: 0.5s; */
	font-size: 1.5rem;
}

.navbar__links div {
	transition: 0.5s;
}

.navbar__button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
}

#icon {
	width: 30px;
	cursor: pointer;
}

.navbar__button-sign {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 4px;
	background: var(--primary-color);
	color: var(--secondary-color);
	/* transition: 0.5s; */
	font-size: 1.5rem;
}

.navbar__button-sign div {
	/* transition: 0.5s; */
}

.navbar__button-sign:hover {
	background: #4837FF;
	color: var(--primary-color);
	/* transition: 0.5s; */
}

.navbar__button-sign:hover div {
	/* transition: 0.5s; */
	/* scale: 1.2; */
}

.navbar__links:hover div {
	/* transition: 0.5s; */
	font-weight: bold;
	/* scale: 1.1; */
}

.navbar__links:hover {
	background: linear-gradient(145deg, #718d8c, #86a8a7);
}

/* Mediaqueries for navbar menu */

@media screen and (max-width: 960px) {
	.navbar__container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1200px;
		padding: 0;
	}

	.navbar__menu {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 0;
		transition: 0.5s;
		height: 50vh;
		z-index: -1;
		/* background: #131313; */
		background: var(--primary-color);
	}

	.navbar__menu.active {
		/* background: #131313; */
		background: var(--primary-color);
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 50vh;
		font-size: 1.6rem;
	}

	#navbar__logo {
		 padding-left: 25px;
	}

	.navbar__toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: var(--secondary-color);
	}

	.navbar__item {
		width: 100%;
	}

	.navbar__links {
		/* flex-direction: column-reverse; */
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
		color: var(--secondary-color);
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.navbar__button {
		padding-bottom: 2rem;
	}

	.navbar__button-sign {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 80px;
		margin: 0;
	}

	.navbar__toggle .bar {
		display: block;
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

