.headline__container {
	margin: 15rem auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.headline__main {
	color: var(--secondary-color);
	font-family: 'Movement VN';
	font-size: 12rem;
}

@media screen and (max-width: 960px) {
	
	.headline__main {
		font-size: 6rem;
	}

	.headline__container p {
		font-size: 1.5rem;
	}
}